body {
  text-align: center;
   font-family: sans-serif;
}

.message-list {
  background-color: #FFF0A5;
  padding: 20px;
}

h1 {
  color: grey;
  text-align: center;
}

.post {
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  color: #468966;
}
.topnav {
   background-color: pink;
   overflow: hidden;
   color: white;
   font-family: sans-serif;
}
.topnav a:hover {
   background-color: #ddd;
   color: black;
}
.topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 25px;
 }
 .topnav a.active {
    background-color: #4CAF50;
    color: white;
}
